.container {
  width: clamp(320px, 80vw, 1200px);
  height: clamp(450px, 70vh, 1200px);
  grid-area: container;
  @include border(rgba(126, 118, 118, 0.486));
  background-color: $card-color;
  border-radius: 10px;
}
