* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: $header-color;
  //   @include border(black);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: $header-color;
  //   @include border(red);
}
